In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine
#создаем коннекцию к базе
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string)

In [2]:
query = '''SELECT *
            FROM dash_visits'''

In [3]:
#выполним sql-запрос и сохраним данные в переменную dash_visits
dash_visits = pd.io.sql.read_sql(query, con = engine)

In [4]:
#выведем 5 строк для ознакомления
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [5]:
#выгрузим данные в файл csv
dash_visits.to_csv('dash_visits.csv')

In [6]:
#для презентации выведем таблицу с суммарным количество взаимодействий по темам карточек статей
dash_visits.groupby(by='item_topic').sum().sort_values(by=['visits'], ascending=False).drop('record_id', axis=1).rename(columns = {
'visits':'sum'})

                      sum
item_topic
Наука               21736
Отношения           20666
Интересные факты    19942
Общество            19640
Подборки            17772
Россия              16966
Полезные советы     15435
История             15389
Семья               11897
Женщины             11499
Дети                10989
Рассказы            10909
Здоровье            10399
Деньги              10291
Культура            10205
Красота              9814
Туризм               9512
Юмор                 9398
Скандалы             9294
Путешествия          9260
Искусство            8516
Психология           8036
Женская психология   7737
Шоу                  7511
Знаменитости         7394